{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{{ ' myCart' }}
{% endblock title %}

{% block body_content %}

<div id="wrapper">
	<!-- MAIN -->
	<div class="main">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table id="bannerTable" class="table table-striped table-bordered">
							<thead style="background-color: #004990;color: white;">
								<tr>
									<th style="text-align: center;" width="10%">Enabled</th>
									<th style="text-align: center;" width="30%">Banner Name</th>
									<th style="text-align: center;" width="50%">Banner Image</th>
									<th style="text-align: center;" width="10%">Delete</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!--end .table-responsive -->
				</div>
			</div>


			<!-- Delete Modal HTML -->
			<div id="deleteBannerModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<form>
							<div class="modal-header">
								<h4 class="modal-title">Delete Banner</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							</div> <!-- end of modal-body  -->

							<div class="modal-body">
								<p id='deleteModalMessage'></p>
								<p class="text-warning"><small>This action cannot be undone.</small></p>
							</div> <!-- end of modal-body  -->

							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
								<input type="button" class="deleteModalSubmitBtn btn btn-danger" value="Delete">
							</div> <!-- end of modal-footer  -->

						</form> <!-- end of form  -->
					</div> <!-- end of modal-content  -->
				</div> <!-- end of modal-dialog  -->
			</div> <!-- end of modal (delete) -->
		</div>
		<!--end .col -->
	</div>
	<!--end .row -->
</div>
<!--end .section-body -->
</div>
<!--end .section-body -->

{% endblock body_content %}

{% block javascript %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.min.js"></script>

<!-- FireBase  -->
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase.js"></script>
<script src="{% static 'js/FirebaseINIT.js' %}"></script>

<!-- Data Table JS  -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<!-- Alertify JavaScript -->

<script>
	$(function () {
		alertify.alert('Alert Title', 'Alert Message!', function () { alertify.success('Ok'); });
	});

	get_product_list();

	function get_product_list() {

		var database = firebase.database();
		database.ref('BannerLink/').once('value', function (snapshot) {
			if (snapshot.exists()) {
				var content = '';
				snapshot.forEach(function (data) {
					var val = data.val();

					content += '<tr>';
					if (val.enabled == "YES") {
						content += '<td width="10%"><label class="switch"><input type="checkbox" checked onclick="bannerEnableOrDisable(\'' + val.banner_name + '\', this)" ><span class="slider round"></span></label></td>';
					}
					else {
						content += '<td width="10%"><label class="switch"><input type="checkbox" onclick="bannerEnableOrDisable(\'' + val.banner_name + '\', this)" ><span class="slider round"></span></label></td>';
					}
					content += '<td align="center" width="30%">' + val.banner_name + '</td>';
					content += '<td align="center" width="40%"><a target="_blank" href=' + val.link_url + '><img src=' + val.link_url + ' alt="Paris" style="width:150px"></a></td>';
					content += '<td align="center" width="10%"><a href="#deleteBannerModal" class="link" data-toggle="modal" data-itemid=\'' + val.banner_name + '\'><i class="material-icons" data-toggle="tooltip" style="color:red; size:40px;" title="Delete">&#xE872;</i></a></td > ';
					content += '</tr>';
				});
				$('#bannerTable').append(content);
				$('#bannerTable').DataTable();
			}
		});
	}

	//  Code to delete Banner from firebase also deletes the item image in firebase storage
	function deleteBanner(bannerName) {


		//Firebase Store Delete Image 
		// Create a reference to the file to delete
		var delStoreRef = defaultStorage.ref().child('Banners/' + bannerName);

		// Delete the file
		delStoreRef.delete().then(function () {
			// Image is deleted successfully now the data needs to be deleted
			console.log("Image of Banner. Name = " + bannerName + " is Deleted");

			//Firebase Delete Data
			var FirebaseDeleteRef = firebase.database().ref('BannerLink/' + bannerName);
			FirebaseDeleteRef.remove()
				.then(function () {
					console.log("Item Deleted : " + bannerName);
					location.reload();
				})
				.catch(function (error) {
					console.log("Delete Failed : " + error.message)
				});
		}).catch(function (error) {
			console.log("Image Deletion from Firebase Storage Failed : " + error.message)
		});
	}


	//code to give the modal for Item Deletion
	$('#deleteBannerModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var SelectedBanner = button.data('itemid') // Extract info from data-* attributes

		var modal = $(this)
		modal.find('.modal-body #deleteModalMessage').text('Are you sure you want to delete Banner. Name: ' + SelectedBanner + " ?")

		$('.deleteModalSubmitBtn').click(function () {
			deleteBanner(SelectedBanner);
		});
	});

	//Function to Enable or Disable a Product
	function bannerEnableOrDisable(bannerName, elem) {
		var FirebaseBannerEnableRef = firebase.database().ref('BannerLink/' + bannerName);
		if (elem.checked == true) {
			FirebaseBannerEnableRef.update({ enabled: "YES" })
			console.log("Enabled Product with ID : " + bannerName)
		} else {
			FirebaseBannerEnableRef.update({ enabled: "NO" })
			console.log("Disabled Product with ID : " + bannerName)
		}
	}

</script>

{% endblock javascript %}

{% block custom_css %}
<!-- Data Table CSS  -->
<link rel="stylesheet" href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'>


<!-- Alertify CSS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.default.min.css" />

<!-- Material Icons  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Image Uploader CSS -->
<link rel="stylesheet" href='{% static "css/imageUploader.css" %}'>

<!-- Bootstrap Toggle  -->
<style>
	.switch {
		margin: 15%;
		position: relative;
		display: inline-block;
		width: 40px;
		height: 26px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 2px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #004990;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #004990;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(17px);
		-ms-transform: translateX(17px);
		transform: translateX(17px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	/* Modal Styles  */
	.modal .modal-dialog {
		max-width: 400px;
	}

	.modal .modal-header,
	.modal .modal-body,
	.modal .modal-footer {
		padding: 20px 30px;
	}

	.modal .modal-content {
		border-radius: 3px;
	}

	.modal .modal-footer {
		background: #ecf0f1;
		border-radius: 0 0 3px 3px;
	}

	.modal .modal-title {
		display: inline-block;
	}

	.modal .form-control {
		border-radius: 2px;
		box-shadow: none;
		border-color: #dddddd;
	}

	.modal textarea.form-control {
		resize: vertical;
	}

	.modal .btn {
		border-radius: 2px;
		min-width: 100px;
	}

	.modal form label {
		font-weight: normal;
	}

	/* Image Show CSS */
	img {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 150px;
	}

	img:hover {
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}
</style>

{% endblock custom_css %}